<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
<filter>
  <filter-name>GzipFilter</filter-name>
  <filter-class>service.GZipServletFilter</filter-class>
  <init-param>
  	<param-name>filter</param-name>
  	<param-value>GZipFilter</param-value>
  </init-param>
</filter>
<servlet>
  <servlet-name>user</servlet-name>
  <servlet-class>controller.UserController</servlet-class>
</servlet>
<servlet>
  <servlet-name>regist</servlet-name>
  <servlet-class>controller.RegController</servlet-class>
</servlet>
<servlet>
	<servlet-name>ProductController</servlet-name>
	<display-name>ProductController</display-name>
	<description></description>
	<servlet-class>controller.ProductController</servlet-class>
</servlet>
<servlet>
  <servlet-name>cartController</servlet-name>
  <display-name>cartController</display-name>
	<description></description>
  <servlet-class>controller.CartController</servlet-class>
</servlet>
<servlet>
	<servlet-name>OneProductController</servlet-name>
	<display-name>OneProductController</display-name>
	<description></description>
	<servlet-class>controller.OneProductController</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>user</servlet-name>
  <url-pattern>/authorization</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>regist</servlet-name>
  <url-pattern>/registration</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>ProductController</servlet-name>
	<url-pattern>/products</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>cartController</servlet-name>
  <url-pattern>/cart</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>OneProductController</servlet-name>
	<url-pattern>/product</url-pattern>
</servlet-mapping>
<filter-mapping>
  <filter-name>GzipFilter</filter-name>
  <servlet-name>user</servlet-name>
</filter-mapping>

</web-app>
